.paint-canvas {
  margin: 0rem 0rem 0 -0.47rem;
  border: 1px black solid;
}

.color-picker {
  margin: 1rem 0rem 0 0rem;
}

button{
  all: unset;
  cursor: pointer;
}

#borrar{
  display: flex;
  align-items:center;
  justify-content: center;
  gap:5px;
  position: absolute;
  top: 15px;
  left: 250px;
}

#borrar i{
  color:rgb(219, 81, 81);
}

#borrar:hover{
  cursor: pointer;
}

#lapiz{
  display: flex;
  align-items:center;
  justify-content: center;
  gap:5px;
  position: absolute;
  top: 15px;
  left: 420px;
}

#lapiz i{
  color:rgb(0, 0, 0);
}

#lapiz:hover{
  cursor: pointer;
}

#goma{
  display: flex;
  align-items:center;
  justify-content: center;
  gap:5px;
  position: absolute;
  top: 15px;
  left: 520px;
}

#goma i{
  color:rgb(0, 0, 0);
}

#goma:hover{
  cursor: pointer;
}